{% extends "head_foot.html" %}

{% block header %}
    <link rel="stylesheet" href="../static/home.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/graph_draw.js"></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to my research paper reading graph!</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="row p-3">
                    <a class="btn btn-primary" href="/new_paper" role="button">Add new paper</a>
                </div>
                <div class="row p-3">
                    <button type="button" class="btn btn-primary">Add new author</button>
                </div>
                <div class="row p-3">
                    <button type="button" class="btn btn-primary">Edit paper</button>
                </div>
                <div class="row p-3">
                    <button type="button" class="btn btn-primary">Edit author</button>
                </div>
                <div class="row p-3">
                    <button type="button" class="btn btn-primary">Edit graph</button>
                </div>
            </div>
            <div class="col-md-10">
{#                <iframe width="900" height="800" frameborder="0" scrolling="no" src="{{ PLOT_SRC }}">#}
{#                </iframe>#}
                <div align="center" id="force"></div>
                <script>
                    d3.json("{{ GRAPH_URL }}", drawGraph);
                </script>
            </div>
        </div>
    </div>
{% endblock %}